.our-customers {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
    @media (max-width: 1199px) {
        font-size: 28px;
    }
}

.box-our-customers {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px 0 0 0;
    gap: 30px;
    @media (max-width: 1199px) {
        padding: 30px 0 0 0;
        flex-wrap: wrap;
        
    }
    &__style {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        @media screen and (max-width: 767px) {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-basis: calc(50% - 15px)
            }
    }
    &__logo {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 92px;
           
        
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: 226px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 170px;
            }
           
        }
    &__style {
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);           
    }
    &__style:hover,
    &__style:focus  {
        border: 1px solid #2196F3;
    
    }

    &__style:hover .icon,
    &__style:focus  .icon {
        fill: var(--blue);  
    }
}

.icon-customers {
    fill: var(--icon);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
