.section--bg {
    background-color: var(--button);
}

.our-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
}

.box-our-team {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 50px 0 0 0;
    gap: 30px;

    &__person {
        width: 270px;
        height: 428px;
        background: #FFFFFF;
        /* material shadow v1 */
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__name-person {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187em;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--black);
        padding: 30px 0 10px 0;
    }

    &__description-person {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187em;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--grey);
        margin: 0;
        padding: 0 0 16px 0;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    &__icon-contact {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon-contact:hover,
    &__icon-contact:focus {
        background-color: var(--blue);
    }

    &__icon-contact:hover .icon,
    &__icon-contact:focus .icon {
        fill: var(--FFF);
    }
}

.icon-team {
    fill: var(--icon);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}