.gallery-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    padding-top: 50px;

    &__item {
        background: var(--FFF);
        width: 370px;
        height: 404px;
    }

    &__item:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--blue);
        opacity: 0;
        height: 100%;
        width: 100%;
        transform: translate(0%, 100%);
    }

    &__hover-overlay {
        position: relative;
        overflow: hidden;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__hover-overlay:hover &__overlay {
        opacity: 0.9;
        transform: translateX(0);
    }

    &__image {
        width: 370px;
        height: 294px;
    }

    &__description {
        position: absolute;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        /* or 156% */
        letter-spacing: 0.03em;
        color: #FFFFFF;
        padding: 49px 44px 48px 24px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__first-description {
        font-weight: 700;
        font-size: 18px;
        line-height: 2em;
        letter-spacing: 0.06em;
        padding: 20px 24px 0px 24px;
        margin: 0;
        border-left: 1px solid rgb(238, 238, 238);
        border-right: 1px solid rgb(238, 238, 238);
    }

    &__second-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875em;
        letter-spacing: 0.03em;
        color: var(--grey);
        padding: 3px 24px 20px 24px;
        margin: 0;
        border-left: 1px solid rgb(238, 238, 238);
        border-right: 1px solid rgb(238, 238, 238);
        border-bottom: 1px solid rgb(238, 238, 238);
    }
}